/* Light grey - #f6f5f7;
Light blue - rgba(164,209,224,1); */

header {
    font-family: "Raleway";
    font-size: 45px;
}

body {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

h1 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

h2 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

h3 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

h4 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

h5 {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 18px;
}

p {
    font-family: "Montserrat";
    font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
    font-family: "Montserrat";
    font-size: 14px;
}
/*
a {
    
}
*/

button {
    font-family: "Montserrat";
    font-size:14px;
    font-weight: bold;
    border-radius: 7px;
	border: 1px solid rgba(164,209,224,1);
	background-color: rgba(164,209,224,1);
	color: #FFFFFF;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: white;
    color: rgba(164,209,224,1);
}

input {
    font-family: "Montserrat";
    font-size: 14px;
    background-color: #eee;
    border: 2px transparent;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

input:focus {
	outline: 2px solid #333;
}
/*Sizing for phones*/
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

/*sizing for tablets in landscape*/
@media only screen and (min-width: 600px) {
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
}

/*sizing for desktop*/
@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}