/* Light grey - #f6f5f7; */
/* Light blue - rgba(164,209,224,1); */
/* Beige: #EAE6E1; */
/* Lighter Beige: #FAF6F1 */
/* Purple: #6B5875; */
/* Charcoal: #6B686D */
header {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    color: #6B5875;
    box-sizing: border-box;
    line-height: 45px;
    padding: 0 7px;
}

header a {
  text-decoration: none;
}

#hamburger {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #6B5875;
  margin: 4px 0;
  margin-left: 5px;
}

#sideNav {
  width: 270px;
  height: 100%;
  background-color: white;
  z-index: 3;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#sideNav > a {
  text-decoration: none;
  position: relative;
  top: 20px;
  left: 5px;
}

#sideNav > a span {
  color: #6B5875;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 20px;
}

#sideNav > ul {
  position: relative;
  top: 10px;
}

#sideNav > ul li {
  padding: .75rem 0 0 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  list-style-type: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

#sideNav > ul li a{
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
}

#sideNav-logout {
  color: white;
  border-radius: 4px;
  background-color: #6B5875;
  width: 135px;
  margin-left: 5px;
  height: 40px;
}

#sideNa-logout:hover {
  background-color: #4B3855;
}

#faded-container {
  z-index: 2;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.topNav {
  display: none;
}

.logopic {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    line-height: 70px;
}

header span {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 70px;
    font-weight: 400;
    color: #6B5875;
    position: relative;
    vertical-align: middle;
}

body {
    font-family: "Montserrat";
    background: white;
}

h1 {
    font-family: "Montserrat";
    font-size: 30px;
    color: #6B686D;
}

h2 {
    font-family: "Montserrat";
    font-size: 25px;
    color: #6B686D;
}

h3 {
    font-family: "Montserrat";
    font-size: 20px;
    color: #6B5875;
}

h4 {
    font-family: "Montserrat";
    font-size: 15px;
    color: #6B5875;
}

h5 {
    font-family: "Montserrat";
    font-size: 10px;
    color: #6B686D;
}

h6 {
    font-family: "Montserrat";
    font-size: 14px;
    color: #6B686D;
}

p {
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 100;
	color: #6B686D;
}

span {
	font-family: "Montserrat";
	font-size: 14px;
	color: #6B686D;
}

a {
  color: black ;
  text-decoration: none;
}

button {
	font-family: "Montserrat";
	font-size:10px;
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid #6B5875;
	background-color: #6B5875;
	color: #FFFFFF;
	padding: 7px 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
    outline: none;
}

button:hover {
  background-color: #FAF6F1;
  color: #6B5875;
}

button:not(.nohover):hover {
    background-color: #FAF6F1;
    color: #6B5875;
}

input {
  font-family: "Montserrat";
  font-size: 14px;
  background-color: #FFFFFF;
  border: 2px transparent;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input:focus {
	outline: 2px solid #6B686D;
}

form {
  background-color: #FAF6F1;
}

.overlay {
  background-color: #6B5875;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

 .logo-container {
    margin-left: 25%;
    display: inline-block;
 }

/* .topnav {
	background-color: white;
  overflow: hidden;
  display: inline-block;
  float: left;
} */
  
/* .topnav a {
  display: none;
} */

.topnav a.icon {
  display: block;
}

.topnav .closebtn {
  display: none;
}

.topnav.responsive {
  height: 100%; 
  width: 250px;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: white; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.topnav.responsive a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #6B5875;
  display: block;
  transition: 0.3s;
}

.topnav.responsive a.icon {
  display: none;
}

.topnav.responsive .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.topnav.responsive a.button {
  font-family: "Montserrat";
  font-size:18px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #6B5875;
  background-color: #6B5875;
  color: #FFFFFF;
  padding: 7px 12px;
  margin-top: 5px;
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.footer:before {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #EAE6E1;
  line-height: 3;
}

.footer a {
  color: #6B686D;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a:hover {
  text-decoration: underline;
}

.TaskRowCompletionStatus-checkbox--withoutEmptyCheckCircleExperiment {
  background: #fff;
  border: 1px solid #6B686D;
  border-radius: 50%;
  color: #6B686D;
  fill: #6B686D;
  height: 20px;
  width: 20px;
  padding: 5px;
	outline: 2px solid #333;
}

[class*="col-"] {
  width: 100%;
}

.animated {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
  
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-140%, 0, 0);
    transform: translate3d(-140%, 0, 0);
  }
}
  
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(-140%, 0, 0);
    transform: translate3d(-140%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

/*sizing for tablets in landscape*/
@media only screen and (min-width: 600px) {
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
}

/*sizing for desktop*/
@media only screen and (min-width: 1024px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  header {
    font-size: 45px;
  }

  .logopic {
    width: 50px;
    height: 50px;
  }

  button {
    padding: 12px 45px;
    font-size: 20px;
  }

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 17px;
  }

  p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 100;
    color: #6B686D;
  }

  button {
    font-size: 16px;
  }

  .navigation-container {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: white;
  }

  .logo-container {
    float: left;
    margin-left: auto;
  }

  /* .topnav {
    background-color: white;
    overflow: hidden;
    float: right;
  } */
    
    /* Style the links inside the navigation bar */
  /* .topnav a {
    float: right;
    display: block;
    color: #6B686D;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
  } */
  
    /* Change the color of links on hover */
  /* .topnav a:hover {
    color: black;
    text-decoration: underline;
  } */
    
  .topnav a.button {
    font-family: "Montserrat";
    font-size:17px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #6B5875;
    background-color: #6B5875;
    color: #FFFFFF;
    padding: 7px 12px;
    margin-left: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

  .topnav a.icon {
    display: none;
  }

  /* Peter's version */

  #hamburger {
    display: none;
  }

  #sideNav {
    transform: translateX(-100%);
  }

  #faded-container {
    width: 0;
    height: 0;
}

  .topNav {
    position: absolute;
    height: calc(70px - 5px);
    min-width: 450px;
    display: inline-block;
    right: 0;
    top: 0;
    padding: 0;
  }

  .topNav ul li {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
  }

  .topNav #logout {
    color: white;
    border-radius: 4px;
    background-color: #6B5875;
    width: 135px;
    margin-left: 5px;
    height: 50px;
    padding-top: 4px;
    box-sizing: border-box;
  }
  
  .topNav #logout:hover {
    background-color: #4B3855;
  }
  
  header span {
      font-family: "Montserrat";
      font-size: 30px;
      line-height: 70px;
      font-weight: 400;
      color: #6B5875;
      position: relative;
  }
  
  header ul {
    right: 5px;
    margin: 0;
    position: relative;
    vertical-align: top;
    display: inline;
  }
  
  header ul li {
    text-align: center;
    display: inline-block;
    padding: .75rem 0 0 0;
    margin: 0;
    text-decoration: none;
    color: #6B5875;
    font-size: 16px;
    cursor: pointer;
  }
  
  header ul li a:hover {
    color: black;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 0 10px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
  }
  
  header hr {
    top: 0;
    position: relative;
    opacity: 0;
    height: 2px;
    width: 185px;
    margin: 0;
    background-color: #6B5875;
    border: none;
  }
  
  .checklist:hover {
    border-bottom: 2px solid #6B5875;
  }
  
  .website:hover ~ hr {
    opacity: 1.0;
    margin-left: 200px;
    width: 205px;
  }
  
  .must-haves:hover ~ hr {
    opacity: 1.0;
    margin-left: 412px;
    width: 105px;
  }
  
  .articles:hover {
    border-bottom: 2px solid #6B5875;
  }
    
}
