<!Doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147423519-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147423519-1');
</script>

    <title>Pregnancy Planning - myHoneyBump</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/articlePage/articlePage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.1.0/firebase-firestore.js"></script>
    <link rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203"
        sizes="16x16" />
</head>

<body>
    <script>
        (function () {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://app.termly.io/embed.min.js';
          s.id = '52bad088-ee4a-4ba7-ba72-968499454ed9';
          s.setAttribute("data-name", "termly-embed-banner");
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
          setTimeout(function () {
            document.getElementById("termly-code-snippet-support").style.position = "absolute";
          }, 1000);
        })();
      </script>
        <header>
                <div id="hamburger">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
                <a href="/">
                    <img class="logopic"
                        src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
                        alt="myHoneyBumpLogo"><span>myHoneyBump</span>
                </a>
                <div class="topNav">
                    <ul>
                        <li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li><!--<li class="website"><a href="/website">MY (FREE!) BABY WEBSITE</a></li><li class="must-haves"><a href="/mustHaves">MUST HAVES</a></li>--><li class="articles"><a href="/articles">ARTICLES</a></li><li id="logout">LOG IN/SIGN UP</li>
                    </ul>
                </div>
            </header>

    <main>
        <div class="article">
            <div class="article-text-container">
                <div id="title"></div>
            </div>
            <img id="hero-image"
                src=""
                alt="">
            <div class="article-text-container">
                <div id="article-text">
                </div>
            </div>
        </div>
    </main>

    <sidebar>
    </sidebar>

    <aside>
    </aside>

    <footer>
        <br>
    </footer>
    <div id="sideNav" class="animated slideInRight slideOutLeft">
        <a href="/">
            <img class="logopic"
                src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
                alt="myHoneyBumpLogo"><span>myHoneyBump</span>
        </a>
        <ul><li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li><!--
        --><li class="articles"><a href="/articles">ARTICLES</a></li><!--
        --><li id="sideNav-logout">LOG IN/SIGN UP</li>
        </ul>
    </div>
    <div id="faded-container"></div>
</body>


<script type="text/javascript" src="/articlePage/articlePage.js"></script>

</html>