<!Doctype html>
<html lang="en-US">

<head>
  <title>Pregnancy Planning - myHoneyBump</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
  <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
  <script src="/__/firebase/6.1.0/firebase-firestore.js"></script>
  <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203" sizes="16x16" />
</head>

<body style="min-height:100%;margin:0px;">
    <header>
        <div id="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
        <a href="/">
            <img class="logopic"
                src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
                alt="myHoneyBumpLogo"><span style="color:white;">myHoneyBump</span>
        </a>
        <div class="topNav">
            <ul>
                <li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li><!--<li class="website"><a href="/website">MY (FREE!) BABY WEBSITE</a></li><li class="must-haves"><a href="/mustHaves">MUST HAVES</a></li>--><li class="articles"><a href="/articles">ARTICLES</a></li><li id="logout">LOG IN/SIGN UP</li>
            </ul>
        </div>
    </header>

  <div id="main">
  <div class="textinpiccontainer">
    <img class="landingpic" alt="Hands on stomach" src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2FlandingPage%2FHero%20image%20-%203rd%20draft.png?alt=media&token=095c31e4-e549-4a7c-88ea-088b095214ae">
    <div class="centered">
      <p id="landingtext">Manage your pregnancy with free tools built by professionals</p>
      <p id="landingparagraph">Ever wonder if you're doing everything you can for your pregnancy? Get a customizable checklist to see what you might be missing. Check out details within your checklist to find answers to some of your burning questions...even the ones you didn't know you had!</p>
      <button>Get Started</button>
    </div>
  </div>

  <div class="grid-container">
    <div class="item1">
      <div class="textcontainer">
        <h3 style="text-align:center;">Why choose myHoneyBump?</h3><br>
        <h5 style="line-height: 1.3;word-spacing:3px;">Our goal is to simplify the who's, what's, when’s, why’s and how’s of your pregnancy.  myHoneyBump breaks down the many mysteries and pregnancy questions so that you have more time to enjoy this once (or maybe more!) in a lifetime experience</h5>
      </div>
    </div>
  
    <div class="item2">
      <img class="grid-picture" alt="Checklist" src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2FlandingPage%2FChecklist.png?alt=media&token=a7657c3c-ea83-4702-98c7-15c005ae76bb">
    </div>

    <div class="item3">
      <h2>Pregnancy Checklist</h2>
      <p>Explore things like what tests to expect, when to announce pregnancy, and when to start sleeping on your left side.</p>
      <button>Learn</button>
    </div>

    <div class="item4">
      <h2>Articles</h2>
      <p>Read pregnancy FAQs and get totally prepared before setting foot in the delivery room</p>
      <button>Learn</button>
    </div>

    <div class="item5">
      <img class="grid-picture" alt="Articles" src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2FlandingPage%2FArticles.png?alt=media&token=b34d4474-6068-46ce-aa2c-5e2dd9ed9631">
    </div>

    <div class="item6">
      <div class="textcontainer">
          <h3 style="text-align:center;">What our users are saying</h3><br>
          <h5 style="line-height: 1.3;word-spacing:3px;">"Woah, I had no idea I should have been doing some of these things in my first trimester!" –Lilibeth O.</h5>
          <h5 style="line-height: 1.3;word-spacing:3px;">"I wish myHoneyBump existed before my first baby. Then I would have known what to expect before going to the hospital for my induction."" –Katia M.</h5>
          <h5 style="line-height: 1.3;word-spacing:3px;">"It has everything I wanted to know about pregnancy. I saved so much time using myHoneyBump and I feel confident that I’m doing things right for my baby boy on the way." –Amanda H.</h5>
        </div>
    </div>

    <div class="item7">
      <div class="textcontainer">
          <h3 style="text-align:center;">If it's free, how are you able to provide this content?</h3><br>
          <h5 style="line-height: 1.3;word-spacing:3px;">myHoneyBump makes money through advertising and affiliate link marketing.  We would never endorse a product that we wouldn’t use ourselves.  When you purchase a product recommended through our site, we may receive a portion of those profits.</h5>
        </div>
    </div>

    <!--
    <div class="item5">
      <img class="grid-picture" alt="kirby" src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2FlandingPage%2Fkirby.jpg?alt=media&token=210a9dcc-b64d-4866-9ada-92be889f0b2a">
    </div>
    <div class="item6">
      <h2>The "Buzz"</h2>
      <p>Read pregnancy FAQs and get totally prepared before setting foot in the delivery room.</p>
      <button>Learn</button>
    </div>-->

  
    <div class="footer" style="text-align:left;">
      <a href="/aboutUs">About myHoneyBump</a><br>
      <a href="/aboutUs#contact">Contact us</a><br>
      <a href="">Advertise with us</a><br>
      <a href="">Privacy Policy</a><br>
      <a href="">Terms of Service</a><br>
      <br>
      <br>
    </div>
  </div>

  <div id="faded-container"></div>
<br>
<br>
<br>
<br>
  </div>
    <div id="sideNav" class="animated slideInRight slideOutLeft">
        <a href="/">
            <img class="logopic"
                src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
                alt="myHoneyBumpLogo"><span>myHoneyBump</span>
        </a>
        <ul>
            <li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li><li class="articles"><a href="/articles">ARTICLES</a></li><li id="sideNav-logout">LOG IN/SIGN UP</li>
        </ul>
    </div>
    <div id="faded-container"></div>
<!-- <script>
function openNav() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  var y = document.getElementById("myTopnav");
  if (y.className === "topnav") {
    y.className += " responsive";
  } else {
    y.className = "topnav";
  }
  document.body.style.backgroundColor = "white";
}
</script> -->
<script type="text/javascript" src="/index.js"></script>
</body>

</html>