* {
    box-sizing: border-box;
}

.landingpic {
    width: 100%;
    height: auto;
    z-index: -1;
}

.textinpiccontainer{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    top: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#landingtext {
    font-size: 10px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1;
}

#goaltext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: justify;
}

.textcontainer {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'ChecklistPicture'
        'ChecklistText'
        'BabyShowerWebsitePicture'
        'BabyShowerWebsiteText'
        'ArticlesPicture'
        'ArticlesText';
    margin-top: 100px;
    margin-bottom: 25px;
}

.grid-container > div {
    text-align: center;
}

.grid-picture {
    width: 150px;
    height: 150px;
}

.item1 {grid-area: ChecklistPicture;}
.item2 {grid-area: ChecklistText;
        padding-bottom: 75px;}
.item3 {grid-area: BabyShowerWebsiteText;
        padding-bottom: 75px;}
.item4 {grid-area: BabyShowerWebsitePicture;}
.item5 {grid-area: ArticlesPicture;}
.item6 {grid-area: ArticlesText;
        padding-bottom: 75px;}

@media only screen and (min-width: 992px) {
    #landingtext {
        font-size: 55px;
    }

    #goaltext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            '. . ChecklistPicture ChecklistText . .'
            '. . BabyShowerWebsiteText BabyShowerWebsitePicture . .'
            '. . ArticlesPicture ArticlesText . .';
        height: 100vh;
        width: 100vw;s
        margin-top: 150px;
        margin-bottom: 550px;
    }

    .grid-container > div {
        text-align: center;
        padding-bottom: 150px;
    }

    .grid-picture {
        width: 500px;
        height: 380px;
    }

    .item1 {grid-area: ChecklistPicture;}
    .item2 {grid-area: ChecklistText;
            width: 30vw;}
    .item3 {grid-area: BabyShowerWebsiteText;
            width: 30vw;}
    .item4 {grid-area: BabyShowerWebsitePicture;}
    .item5 {grid-area: ArticlesPicture;}
    .item6 {grid-area: ArticlesText;
            width: 30vw;}

}