* {
    box-sizing: border-box;
}

.landingpic {
    width: 100%;
    height: auto;
    z-index: -1;
}

.textinpiccontainer{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#landingtext {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1;
}

.textcontainer {
    position: relative;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 40px;
}

.grid-container > div {
    width: 200px;
    height: 200px;
}

.item1 {grid-row: 1 / 2}
.item2 {grid-row: 2 / 2}
.item3 {grid-row: 4 / 2}
.item4 {grid-row: 3 / 2}
.item5 {grid-row: 5 / 2}
.item6 {grid-row: 6 / 2}

@media only screen and (min-width: 992px) {
    .grid-container {
        grid-column-gap: 50px;
        grid-template-columns: 55px 55px;
    }

    .grid-container > div {
        width: 300px;
        height: 300px;
    }

}