<!Doctype html>
<html lang="en-US">

<head>
    <title>Pregnancy Planning - myHoneyBump</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="articles/articles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.1.0/firebase-firestore.js"></script>
    <link rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203"
        sizes="16x16" />
</head>

<body>
    <header>
        <img class="logopic"
            src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
            alt="myHoneyBumpLogo">
        <span>myHoneyBump</span>
        <div class="topNav">
            <ul>
                <li class="checklist"><a href="/checklist">Pregnancy Checklist</a></li><li class="website"><a href="/website">My (Free!) Baby Website</a></li><li class="must-haves"><a href="/mustHaves">Must Haves</a></li><li class="articles"><a href="/articles">The Buzz</a></li><li id="logout"><a href="">Logout</a></li>
                <hr id="underline"/>
            </ul>
        </div>
    </header>
    <main>
        main
    </main>
    <sidebar>
        sidebar
    </sidebar>
    <aside>
        aside
    </aside>
    <footer>
        footer
    </footer>
</body>

</html>