<!Doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147423519-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147423519-1');
    </script>

    <title>Pregnancy Planning - myHoneyBump</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link async rel="stylesheet" href="/styles/styles.css">
    <link async rel="stylesheet" href="/articles/articles.css">
    <link async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap">
    <script defer src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script defer src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/6.1.0/firebase-firestore.js"></script>
    <link async rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203"
        sizes="16x16" />
</head>

<body>
    <script async>
        (function() {
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://app.termly.io/embed.min.js";
          s.id = "52bad088-ee4a-4ba7-ba72-968499454ed9";
          s.setAttribute("data-name", "termly-embed-banner");
          var x = document.getElementsByTagName("script")[0];
          x.parentNode.insertBefore(s, x);
          setTimeout(function() {
            document.getElementById("termly-code-snippet-support").style.position =
              "absolute";
            document.getElementById("termly-code-snippet-support").style.left = "0";
          }, 1000);
        })();
      </script>

    <div include-html="/header/header.html"></div>
    <div include-html="/footer/footer.html"></div>

    <main>
        <div id="featured">
        </div>
        <h3 class="underlined">Articles by Title</h3>
        <div id="article-list">
        </div>
    </main>

    <sidebar>
    </sidebar>

    <aside>
    </aside>
</body>


<script defer type="text/javascript" src="/articles/articles.js"></script>

</html>