<!Doctype html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="signUpLogin/signUpLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="16x16" />
</head>

<input id="email" type="text" placeholder="Email" />
<h3 id="error"></h3>
<button id="resetPassButton">Reset Password</button>

<script type="module" src="/resetPassword/resetPassword.js"></script>

</html>