<!Doctype html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="16x16" />
</head>

<div style="text-align: center;" >
    <h1>Enter your email below to reset your password.</h1>
    <input id="email" type="text" placeholder="Email" style="max-width: 350px; background: #f6f5f7;"/>
    <h3 id="error"></h3>
    <button id="resetPassButton">Reset Password</button>
</div>

<script type="module" src="/resetPassword/resetPassword.js"></script>

</html>