<!Doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147423519-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147423519-1');
    </script>
  <script async>
    (function() {
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://app.termly.io/embed.min.js";
      s.id = "52bad088-ee4a-4ba7-ba72-968499454ed9";
      s.setAttribute("data-name", "termly-embed-banner");
      var x = document.getElementsByTagName("script")[0];
      x.parentNode.insertBefore(s, x);
      setTimeout(function() {
        document.getElementById("termly-code-snippet-support").style.position =
          "absolute";
        document.getElementById("termly-code-snippet-support").style.left = "0";
      }, 1000);
    })();
  </script>

    <title>Reset Password</title>
    <link async rel="stylesheet" href="styles/styles.css">
    <link async href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    <script defer src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script defer src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="16x16" />
</head>

<div style="text-align: center;">
    <h1>Enter your email below to reset your password.</h1>
    <input id="email" type="text" placeholder="Email" style="max-width: 350px; background: #f6f5f7;" />
    <h3 id="error"></h3>
    <button id="resetPassButton">Reset Password</button>
</div>

<script defer type="module" src="/resetPassword/resetPassword.js"></script>

</html>