<footer>
    <div class="footer" style="text-align:left;">
        <a href="/aboutUs">About myHoneyBump</a><br>
        <a href="/aboutUs#contact">Contact us</a><br>
        <a href="/privacyPolicy">Privacy Policy</a><br>
        <a href="/terms">Terms of Service</a><br>
        <p style="margin:0;">&#169 myHoneyBump</p>
        <p style="font-size:12px; text-align:center; margin: 0;">myHoneyBump was created for educational purposes only, and is not medical or diagnostic advice.  Consult with a medical professional if you have health concerns.  Use of this site is subject to our Terms of Use and Privacy Policy.</p>
    </div>
</footer>