<header>
    <div id="hamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
    <a href="/">
        <img class="logopic"
            src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
            alt="myHoneyBumpLogo"><span>myHoneyBump</span>
    </a>
    <div class="topNav">
        <ul>
            <li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li>
            <!--<li class="website"><a href="/website">MY (FREE!) BABY WEBSITE</a></li><li class="must-haves"><a href="/mustHaves">MUST HAVES</a></li>-->
            <li class="articles"><a href="/articles">ARTICLES</a></li>
            <li id="logout">LOG IN/SIGN UP</li>
        </ul>
    </div>
</header>

<div id="sideNav" class="animated slideInRight slideOutLeft">
    <a href="/">
        <img class="logopic"
            src="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Flogo.png?alt=media&token=4efa35c0-e2fa-412a-a804-cec738de9cf6"
            alt="myHoneyBumpLogo"><span>myHoneyBump</span>
    </a>
    <ul>
        <li class="checklist"><a href="/checklist">PREGNANCY CHECKLIST</a></li>
        <li class="articles"><a href="/articles">ARTICLES</a></li>
        <li id="sideNav-logout">LOG IN/SIGN UP</li>
    </ul>
</div>
<div id="faded-container"></div>