<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "Joy - Wedding Guest List - Free Guest List Manager - Joy",
      "image": "https://withjoy.dexecure.net/assets/favicon/android-icon-192x192.png?opt=aggressive",
      "description": " Joy is simple and beautiful. It’s a free, easy-to-use home for your wedding. Customize your app and website, from the colors and photos to your story and wedding-day schedule. Manage your planning, RSVPs, registries, and more—all in one place. And most importantly, capture the joy of your special day and showcase it for generations. "
    }
    </script>

    

    

    <meta property="og:fb:app_id"          content="861027643912242" />

    <link rel="canonical" href="https://withjoy.com/guest-list/"/>
    <meta property="og:url"                content="https://withjoy.com/guest-list/" />

    <!-- Name and Title -->
    <meta property="og:site_name"          content="Joy" />
    <title>Wedding Guest List - Free Guest List Manager - Joy</title>
    <meta property="og:title"              content="Wedding Guest List - Free Guest List Manager - Joy" />

    <!-- Description -->
    
    <meta property="og:description"        content="Joy includes a wedding guest list manager that lets you keep track of guests and details, send beautiful online invitations, collect online RSVPs, and communicate with your guests all in one place." />
    <meta name="description" content="Joy includes a wedding guest list manager that lets you keep track of guests and details, send beautiful online invitations, collect online RSVPs, and communicate with your guests all in one place.">
    

    <meta property="og:image"              content="https://withjoy.dexecure.net/assets/img/meta-image.png?opt=aggressive" />

    <meta name=“google-site-verification” content=“cxYjaIQ1P9y_DmFhAg1l5fevNpvwjWy8-wc-yNkDsCQ” />
    <meta name=“p:domain_verify” content=“3c9b78164292cc9faa5b7e857775406d”/>

    <link rel="apple-touch-icon" sizes="57x57" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-57x57.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="60x60" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-60x60.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="72x72" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-72x72.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="76x76" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-76x76.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="114x114" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-114x114.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="120x120" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-120x120.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="144x144" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-144x144.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="152x152" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-152x152.png?opt=aggressive">
    <link rel="apple-touch-icon" sizes="180x180" href="https://withjoy.dexecure.net/assets/favicon/apple-icon-180x180.png?opt=aggressive">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://withjoy.dexecure.net/assets/favicon/android-icon-192x192.png?opt=aggressive">
    <link rel="icon" type="image/png" sizes="32x32" href="https://withjoy.dexecure.net/assets/favicon/favicon-32x32.png?opt=aggressive">
    <link rel="icon" type="image/png" sizes="96x96" href="https://withjoy.dexecure.net/assets/favicon/favicon-96x96.png?opt=aggressive">
    <link rel="icon" type="image/png" sizes="16x16" href="https://withjoy.dexecure.net/assets/favicon/favicon-16x16.png?opt=aggressive">
    <link rel="manifest" href="/assets/favicon/manifest.json">
		<!-- <link rel="prefetch" as="font" crossorigin="crossorigin" type="font/woff" href="https://withjoy.dexecure.net/assets/fonts/PT_Serif-Web-Regular.ttf?opt=aggressive">
<link rel="prefetch" as="font" crossorigin="crossorigin" type="font/woff" href="https://withjoy.dexecure.net/assets/fonts/proxima-nova_regular.woff?opt=aggressive"> -->
<!-- <link rel="preload" as="font" crossorigin="crossorigin" type="font/woff" href="https://withjoy.dexecure.net/assets/fonts/sf-ui-display-semibold.woff?opt=aggressive"> -->

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    
<!-- Include the CSS -->
<link href="toolkit-light.css?cacheBust=1560276163939" rel="stylesheet">
<link href="joy.css?cacheBust=1560276163939" rel="stylesheet">













    <!-- Dexecure Start-->
    <script>var DEXECURE_URL = "/dexecure-8d51b70e9e.js";</script><meta http-equiv="Accept-CH" content="Viewport-Width">
    <script>
        "serviceWorker"in navigator&&navigator.serviceWorker.register(DEXECURE_URL,{scope:'/'}).then(function(e){"/"!=new URL(e.scope).pathname&&console.log("Service worker scope is not /")})["catch"](function(e){console.log("Unable to register service worker. Contact us at support@dexecure.com. with the following error information.");console.log(e)});
    </script>
    <!-- <script>
        try {
           navigator.serviceWorker.getRegistrations().then(function(registrations) {
               registrations.forEach(function(registration) {
                   console.log('removing registration', registration);
                   registration.unregister();
               })
           })
        }
        catch (e) {
           console.log('failed to unregister all service workers', e);
        }
    </script> -->
    <!-- Dexecure End -->

		<script async type="text/javascript" src='tracking-v1-0-8.js'></script>

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          width: 100%;
        }
        #stage {
          /* NOTE not sure exactly what's going on here but this
            leads to weird scrolling issues with the footer (heigt: 1px, overflow: auto)
            as noted above it has something to do with shopify integration which probably
            does not apply to us in the near future
           */
          /*height: 1px;*/
          /*overflow: auto;*/
          /* min-height: 100vh; */
          -webkit-overflow-scrolling: touch;
        }
      }
    </style>
    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0046/1031.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
    <script type="text/javascript">
        !function(e){
            if(!window.pintrk){
                window.pintrk=function(){
                window.pintrk.queue.push(Array.prototype.slice.call(arguments))};
                var n=window.pintrk;n.queue=[],n.version="3.0";
                var t=document.createElement("script");
                t.async=!0,t.src=e;
                var r=document.getElementsByTagName("script")[0];
                r.parentNode.insertBefore(t,r)
            }
        }("https://s.pinimg.com/ct/core.js");
        pintrk("load","2617606439718");
        pintrk("page");
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt=""
        src="https://ct.pinterest.com/v3/?tid=2617606439718&noscript=1" />
    </noscript>

</head>

<body>

<!-- MOBILE NAVBAR -->

<div class="modal right fade" id="mobileMenuModal" tabindex="-1" role="nav" aria-hidden="true">

 <div class="modal-dialog modal-admin" role="document">
    <div class="modal-body">
      <ul class="nav nav-bordered nav-stacked">
        <li >
          <a id="menu2homeMobile" href="/" onclick="return redirectWithTelemetry(this,'')">Home</a>
        </li>
        <li >
          <!-- <a id="menu2featuresMobile" href="/features" onclick="return redirectWithTelemetry(this,'features')">
            Features
          </a> -->
          <a id="menu2featuresMobile" onclick="return redirectWithTelemetry(this,'features')">
            Features
          </a>
          <ul class="nav nav-bordered nav-stacked features-dropdown-menu" style="display: block;">
            <li><a id="menu2WebsiteMobile" href="/wedding-website" onclick="return redirectWithTelemetry(this,'website')">Website</a></li>
            <li><a id="menu2GuestListMobile" href="/guest-list" onclick="return redirectWithTelemetry(this,'guestlist')">Guest List</a></li>
            <li><a id="menu2SaveTheDateMobile" href="/save-the-date">Save The Dates</a></li>
            <li><a id="menu2InvitesRSVPMobile" href="/wedding-invitations">Invites + RSVP</a></li>
            <li><a id="menu2RegistryMobile" href="/registry">Registry</a></li>
            <li><a id="menu2AppMobile" href="/app" onclick="return redirectWithTelemetry(this,'app')">Mobile App</a></li>
          </ul>
        </li>
        <li >
          <a id="menu2designsMobile" href="/designs" onclick="return redirectWithTelemetry(this,'designs')">Designs</a>
        </li>
        <li >
          <a id="menu2pricingMobile" href="/pricing" onclick="return redirectWithTelemetry(this,'features')">Pricing</a>
        </li>
        <li >
          <a id="menu2faqMobile" href="/faq" onclick="return redirectWithTelemetry(this,'faq')">Faq</a>
        </li>
        <li >
          <a id="menu2demoMobile" href="/demo" onclick="return redirectWithTelemetry(this,'demo')">Sample</a>
        </li>
        <li >
          <a id="menu2helpMobile" href="http://help.withjoy.com/" onclick="return redirectWithTelemetry(this,'http://help.withjoy.com/')">Help</a>
        </li>
        <!-- <li >
          <a id="menu2downloadMobile" href="/download" onclick="return redirectWithTelemetry(this,'download')">Get The App</a>
        </li> -->
        <li class="nav-divider"></li>
        <li>
          <a id="menu2meMobile" href="/login" onclick="return redirectWithTelemetry(this,'login')">Login</a>
        </li>
        <li >
          <a id="menu2findMobile" href="/find" onclick="return redirectWithTelemetry(this,'find')">Find a Couple</a>                  
        </li>
        <li >
          <a id="menu2startMobile" href="/createWedding" onclick="return redirectWithTelemetry(this,'createWedding')">Start Your Website</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- DESKTOP NAVBAR -->
<div class="stage p-t-lg m-t-0 feature-nav-extra-margin" id="stage">
  <nav id="joy-nav" class="navbar navbar-fixed-top navbar-padded navbar-solid">
    <div class="container">
      <div class="navbar-header visible-xs">
        <div class="row mobile-navbar-row" style="display: flex; justify-content: space-between;">
          <div class="joy-logo-mobile">
            <a id="menu2brand" class="navbar-brand" href="/" onclick="return redirectWithTelemetry(this,'')">
              <!-- <img src="https://withjoy.dexecure.net/assets/img/joy_logo_transparent.png?opt=aggressive" width="52px"style="margin-top: 16px;"/> -->
              <img src="https://withjoy.dexecure.net/assets/public/www/joy-logo-pride-2019.png?opt=aggressive" width="52px"style="margin-top: 16px;"/>
            </a>
          </div>
            <ul class="navbar-nav mobile-nav" style="list-style-type: none; padding-left: 0;">
                <li class="nav-item">
                  <button id="menu2findMobile" class="btn btn-default navbar-btn navbar-btn-gray" href="/find" onclick="location.href = '/find'; return redirectWithTelemetry(this,'find')">
                    <img style="position: absolute;" src="https://withjoy.dexecure.net/assets/favicon/icon-search.svg?opt=aggressive"/>
                    <span style="padding-left: 28px;">Find a Couple</span>
                  </button>
                  <button style="display: none;" class="btn btn-default btn-joy-main navbar-btn menu2createMobile" onclick="location.href = '/createWedding'; return redirectWithTelemetry(this,'createWedding')">Get Started</button>    
                </li>
                <li class="nav-item">
                  <button id="menuMobile" class="btn btn-default navbar-btn navbar-btn-gray" data-toggle="modal" data-target="#mobileMenuModal" href="/">Menu</button>
                </li>
            </ul>               
        </div>
      </div>

      <div class="navbar-collapse collapse hidden-xs hidden-sm">
        <a id="menu2brand" class="navbar-brand" href="/" onclick="return redirectWithTelemetry(this,'')">
          <!-- <img src="https://withjoy.dexecure.net/assets/img/joy_logo_transparent.png?opt=aggressive" width="52px"style="margin-top: 16px;"/> -->
          <img src="https://withjoy.dexecure.net/assets/public/www/joy-logo-pride-2019.png?opt=aggressive" width="52px"style="margin-top: 16px;"/>
        </a>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li>
            <a id="menu2home" href="/" onclick="return redirectWithTelemetry(this,'')">Home</a>
          </li> -->
          <li>
            <a id="menu2features" class="font-12" onclick="return redirectWithTelemetry(this,'features')">
              Features
              <img id="features-arrow" class="rotate-arrow" src="/assets/img/arrow.svg"/>
            </a>
          </li>
          <li>
            <a id="menu2designs" class="font-12" href="/designs" onclick="return redirectWithTelemetry(this,'designs')">Designs</a>
          </li>
          <li>
            <a id="menu2pricing" class="font-12" href="/pricing" onclick="return redirectWithTelemetry(this,'pricing')">Pricing</a>
          </li>
          <li>
            <a id="menu2faq" class="font-12 hidden-sm" href="/faq" onclick="return redirectWithTelemetry(this,'faq')">Faq</a>
          </li>
          <li>
            <a id="menu2demo" class="font-12 hidden-sm" href="/demo" onclick="return redirectWithTelemetry(this,'demo')">Sample</a>
          </li>
          <li>
          <a id="menu2help" class="font-12 hidden-sm" target="_blank" href="http://help.withjoy.com" onclick="return redirectWithTelemetry(this,'http://help.withjoy.com/')">Help</a>
          </li>
          <li>
              <button id="menu2find" class="btn btn-default navbar-btn navbar-btn-gray" style="margin-left: 20px; margin-right: 16px;" onclick="location.href = '/find'; return redirectWithTelemetry(this,'find')">
                <img style="position: absolute;" src="https://withjoy.dexecure.net/assets/favicon/icon-search.svg?opt=aggressive"/>
                <span style="padding-left: 28px;">Find a Couple</span>
              </button>                  
          </li>
          <li class="hidden-sm">
              <button id="menu2login" class="btn btn-default navbar-btn navbar-btn-gray" onclick="location.href = '/login'; return redirectWithTelemetry(this,'login')">Log in</button>
          </li>
          <li class="nav-item visible-sm">
              <button id="menuMobile" class="btn btn-default navbar-btn navbar-btn-gray" data-toggle="modal" data-target="#mobileMenuModal" href="/">Menu</button>
          </li>
          <li class="hidden-sm">
            <button id="menu2create" class="btn btn-default btn-joy-main navbar-btn menu2create" onclick="location.href = '/createWedding'; return redirectWithTelemetry(this,'createWedding')">Create Your Website</button>
          </li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
  </nav>
    <style>
    .subheader-container {
        background-color: #F9F9FB;
        height: 129px;
        padding: 28px;
        margin-top: 72px;
    }

    .subheader {
        display: flex; 
        justify-content: space-evenly;
        list-style-type: none;
        padding-left: 0;
    }

    .subheader-mobile {
        display: flex; 
        justify-content: space-evenly;
        list-style-type: none;
        padding-left: 0;
    }

    .subheader-mobile a {
        color: #333;
        border-bottom: 1px solid rgba(51, 51, 51, 0.4);
    }

    .subheader-mobile > li {
        min-width: 100px;
        text-align: center;
    }

    .subheader > li > a {
        text-decoration: none !important;
        border-bottom: none !important;
        color: #333 !important;
    }

    .subheader > li {
        min-width: 124px;
        text-align: center;
    }

    div.feature-icon {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 48px;
        height: 48px;
    }
    
    @media(max-width: 991px) {
        .subheader-container > .container {
            width: 100%;
        }   
    }

</style>

<div class="subheader-container navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1 col-md-offset-0">
                <ul class="subheader">
                    <li>
                        <a id="features-website" class="font-16" href="/wedding-website" onclick="return redirectWithTelemetry(this,'feature-website')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-website.svg');"></div>
                            Website
                        </a>
                    </li>
                    <li>
                        <a id="features-guest-list" class="font-16" href="/guest-list" onclick="return redirectWithTelemetry(this,'feature-guest-list')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-guest-list.svg');"></div>
                            Guest List
                        </a>
                    </li>
                    <li>
                        <a id="features-save-the-date" class="font-16" href="/save-the-date" onclick="return redirectWithTelemetry(this,'feature-save-the-date')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-save-the-date.svg');"></div>
                            Save The Dates
                        </a>
                    </li>
                    <li>
                        <a id="features-invites-rsvp" class="font-16" href="/wedding-invitations" onclick="return redirectWithTelemetry(this,'feature-invites-rsvp')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-rsvp.svg');"></div>
                            Invites + RSVP
                        </a>
                    </li>
                    <li>
                        <a id="features-registry" class="font-16" href="/registry" onclick="return redirectWithTelemetry(this,'feature-registry')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-registry.svg');"></div>
                            Registry
                        </a>
                    </li>
                    <li>
                        <a id="features-app" class="font-16" href="/app" onclick="return redirectWithTelemetry(this,'feature-app')">
                            <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-app.svg');"></div>
                            Mobile App
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>



<!-- GOOGLE OPTIMZE - hide flicker (adding this here works best for eliminating flicker vs joy.js or footerscripts.html) -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-TZPDLR8':true});</script>

    <style>
        .subheader-container, .features-section {
            background-color: rgb(251, 245, 243);
        }

      /* helper */
      .w-h-100 {
          width: 100%;
          height: 100%;
      }

      .box-hero {
          min-height: 700px;
          background: linear-gradient(-175deg, #F1D5CF 83%, #FFF 17%);
      }

      .guest-list-hero {
          height: 395px;
          background-image: url("https://withjoy.dexecure.net/assets/public/new_guest_list_hero.png?opt=aggressive");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          transform: translateX(40px);
      }

      .how-to-feature-container {
          height: 620px;
      }

      /* Animations */
      .collapse-animation-height {
            -webkit-transition: height 1s ease-in-out;
            -moz-transition: height 1s ease-in-out;
            -o-transition: height 1s ease-in-out;
            transition: height 1s ease-in-out;
      }

      @media (max-width: 991px) {
            .box-hero {
                background: linear-gradient(-175deg, #F1D5CF 90%, #FFF 10%);
                text-align: center;
                padding-top: 40px !important;
                min-height: 850px;
            }
            .box-hero > div {
                padding-top: 0 !important;
            }
            .box-hero > div > div {
                padding-top: 0 !important;
            }
            .guest-list-hero {
                margin-top: 30px !important;
                transform: translateX(0);
            }
            .how-to-feature-container {
               height: auto;
            }
        }

        @media (max-width: 600px) {
            .box-hero {
                min-height: 800px;
                background: linear-gradient(-175deg, #F1D5CF 93%, #FFF 7%);
            }
            .guest-list-hero {
                max-height: 240px;
            }
            .text-subtitle {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .how-to-feature-container {
               height: auto;
            }
        }

        @media (min-width: 1800px) {
            .box-hero {
                background: linear-gradient(-175deg, #F1D5CF 75%, #FFF 25%);;
            }
        }

    </style>
    <link rel="stylesheet" href="featurePageCSS.css">

    <div class="block box-hero p-b-0 m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 p-t">
                    <h1 class="hidden-sm hidden-md m-b block-title joy-headline PTSerif" style="letter-spacing: -0.5px;">The easier, smarter wedding guest list.</h1>
                    <h1 class="hidden-xs hidden-lg hidden-xlm-b block-title joy-headline PTSerif" style="letter-spacing: -0.5px;">The easier, smarter guest list.</h1>
                    <p class="joy-sub-headline font-20">
                        Manage your guest list and organize all the details. Collect RSVPs, track responses, and communicate with guests—all in one place.
                    </p>
                    <a id="hero" class="btn btn-joy btn-joy-white btn-create hvr-fade m-t" href="/createWedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get Started Now</a>
                </div>
                <div class="col-sm-12 col-md-7 m-t-0 p-t-0 guest-list-hero"></div>
            </div>
        </div>
    </div>


    <div class="block p-t-0">

        <div class="container">
            <div class="text-center p-b-md">
                <h2 class="PTSerif m-t-0">Why you'll love it.</h2>
            </div>
            <div class="row">

                
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/guest_counts.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">Get accurate counts for everything.</h2></div>
                            <div class="posting-description">
                                <p>Get an accurate count of your guests, including +1s. Track RSVPs, meal choices, and more in an easy-to-use dashboard.</p>

                            </div>
                            <a id="getStartedCount" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/plus_ones.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">Assign & limit +1s.</h2></div>
                            <div class="posting-description">
                                <p>Invite guests and their plus ones while keeping RSVPs organized—all in one place.</p>

                            </div>
                            <a id="getStartedAssign" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/labels.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">Organize guests using labels.</h2></div>
                            <div class="posting-description">
                                <p>Create your own labels for friends, party groups, kids, out-of-town guests. Quickly filter and see how your counts add up.</p>

                            </div>
                            <a id="getStartedLabels" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/rsvp_questions.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">Ask your own RSVP questions.</h2></div>
                            <div class="posting-description">
                                <p>Go beyond “Are you attending?” and ask guests about meal choices, mailing addresses— or even song requests!</p>

                            </div>
                            <a id="getStartedRSVPQuestions" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/www/guestlist-importexport.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">Import or export spreadsheets.</h2></div>
                            <div class="posting-description">
                                <p>Already using a spreadsheet like Excel or Google Sheets? Quickly import it. Need to provide data to a vendor? Export it.</p>

                            </div>
                            <a id="getStartedImport" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
                <div class="how-to-feature-container col-lg-6 col-md-8 col-sm-10 col-lg-offset-0 col-md-offset-2 col-sm-offset-1">
                    <div class="p-a-md m-y-md m-x feature-gray-box">
                        <div class="w-h-100">
                            <img src="https://withjoy.dexecure.net/assets/public/www/guestlist-RSVP.png?opt=aggressive" class="m-b-md img-responsive blend center" style="max-height: 228px;"/>
                        </div>
                        <div class="p-x-md text-subtitle purple-link">
                                <div class="posting-title"><h2 class="PTSerif">RSVP using your website or app.</h2></div>
                            <div class="posting-description">
                                <p>Joy makes it simple and beautiful for guests to RSVP for themselves and their +1s—with your app or your website!</p>

                            </div>
                            <a id="getStartedRSVP" href="/createwedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get started now</a>
                        </div>
                    </div>
            </div>
            
            
                
            
                
            
                
            
                
            

          </div>

        </div>

        <div class="container">
            <div class="row m-t-0">
                <div class="col-12 text-center p-y-md">
                    <a id="tail" class="btn btn-joy btn-joy-main btn-create hvr-fade m-t" href="/createWedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get Started Now</a>
                </div>
            </div>
        </div>

        <hr style="width: 100%"/>

        <div class="block text-center p-b-0 m-t-0 p-t-lg">
            <div class="container">
                <div class="row">
                    <div class=" col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                        <div class="testimonial font-20">
                            <blockquote>
                                Honestly, helps so much with organizing the guest list. So grateful for this app!
                                <div class="row row text-right m-t">
                                    <a style="border-bottom: none;" target="_blank" href="https://play.google.com/store/apps/details?id=com.withjoy.joy">
                                    <p>Glitchy The Dancer</p></a>
                                </div>   
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="width: 100%"/>

        <div class="block p-y-md">
            <div class="container">
                <div class="row text-center">
                    <p class="joy-sub-headline font-20">As featured in</p>                
                </div>
                <div class="block text-center p-b-0 p-t-0 p-x-0">
    <div class="container p-t-0">
        <div class="row logos">
        <div class="col-xs-6 col-sm-6 col-md-3">
            <img alt="TechCrunch" src="https://withjoy.dexecure.net/assets/logos/techcrunch-logo.svg?opt=aggressive" style="height: 35px; width: auto;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <img alt="AOL" src="https://withjoy.dexecure.net/assets/logos/aol-logo.svg?opt=aggressive" style="height: 50px; width: auto;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3" >
            <img alt="The Huffington Post" src="https://withjoy.dexecure.net/assets/logos/huffpost-logo.svg?opt=aggressive" style="height: 90px; width: auto;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3" >
            <img alt="Brides" src="https://withjoy.dexecure.net/assets/logos/brides-logo.svg?opt=aggressive" style="height: 40px; width: auto;">
        </div>
        </div>
        <div class="row logos">
            <div class="col-xs-6 col-sm-6 col-md-3" >
                <img alt="Bustle" src="https://withjoy.dexecure.net/assets/logos/bustle-logo.svg?opt=aggressive" style="height: 66px; width: auto;">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" >
                <img alt="Paste" src="https://withjoy.dexecure.net/assets/logos/paste-logo.svg?opt=aggressive" style="height: 45px; width: auto;">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" >
                <img alt="The New York Times" src="https://withjoy.dexecure.net/assets/public/www/The_New_York_Times_Logo.svg?opt=aggressive" style="height: 42px; width: auto;">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3" >
                <img alt="Vogue" src="https://withjoy.dexecure.net/assets/logos/vogue-logo.svg?opt=aggressive" style="height: 45px; width: auto;">
            </div>
        </div>
    </div>
</div>
            </div>
        </div>

        <hr style="width: 100%"/>

        <div class="block p-t-md text-center">
            <h2 class="PTSerif">Frequently Asked Questions</h2>
            <div class="container text-left m-t-lg">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-20 text-content">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do guests need to create an account to RSVP?</a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>
                            No. Your guests do not have to create an account to RSVP. Creating an account is totally optional and the prompt comes after guests complete their RSVP. Creating an account and password lets guests easily update their RSVP answers at a later date and also allows them to like and comment on your photos in the Moments section.
                        </p>        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-20 text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Will my guest count update automatically when guests RSVP?</a>
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>If guests RSVP online, we’ll automatically update your guest list with all of their RSVP answers! If guests RSVP using a paper card, you can easily add their responses and see your updated counts right away.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-20 text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Can guests change their RSVP?</a>
                    </h3>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Yes, guests are able to change their RSVP responses. These changes will automatically be updated in your guest list and you’ll receive an email notification any time it happens. You can also manually update their responses in your guest list at any time.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-20 text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Is there a limit to the number of guests I can add to Joy? I will be having close to 1000 guests!</a>
                    </h3>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>The more the merrier. Big or small, Joy is built to scale.</p>                 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title font-20 text-content">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can I restrict RSVPs to only people on my guest list?</a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>You totally can, there is a setting for that allows you to check guests’ names against your list as they RSVP.</p>                  
                        </div>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title font-20 text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Is all this really free?</a>
                    </h3>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Yes! All of our features, including the guest manager, are totally free from start to finish.</p>                 
                    </div>
                </div>
            </div>
            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How do password protection and privacy settings affect RSVPs?</a>
                    </h3>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>You can create a custom event code that guests are required to enter to view the contents of your website or to RSVP. You can control whether your entire website, certain page or just RSVP requires your event code to view. Joy provides fine-grained security settings which are not available in most other solutions on the market.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What can I customize on my website and app?</a>
                    </h3>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>We believe building a beautiful and yet very personalized website shouldn't require knowing how to code or learn a hard-to-use tool full of dialogs and widgets. Joy provides you tons of graphic styles, fonts, colors, and templates to customize from. You can add your photos, story, schedule, greetings, etc, and we make sure all of it is beautifully represented on your website, app, emails, paperless as well as printed invitations, and save the dates.</p>               
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-content">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do you support custom domains?</a>
                    </h3>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Yes and no. You can purchase a domain from domain providers and configure that domain to forward to your withjoy.com event when someone visits that domain.</p>
                    </div>
                </div>
            </div> -->
  
        </div>
    </div>
    
    <style>
        .panel-title > a {
            color: #333;
            text-decoration: none;
            border-bottom: none;
        }

        .panel-heading {
            border-top: 1px solid #eee;
            margin-top: 16px;
        }
    
        .panel-heading [data-toggle="collapse"]:after {
            display: block;
            content: ' ';
            background-image: url('/assets/favicon/down-arrow.svg');
            background-size: 16px 16px;
            height: 16px;
            width: 16px;
            float: right;
            transform: rotate(180deg) translateY(-6px);
        }
    
        .panel-heading [data-toggle="collapse"].collapsed:after {
            transform: rotate(0deg) translateY(6px);
        }
    </style>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center p-y-md">
                        <a id="faq" class="btn btn-joy btn-joy-main btn-create hvr-fade m-t" href="/createWedding" onclick="return redirectWithTelemetry(this,'createWedding')">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="block features-section">
    <div class="container text-center">
        <h2 class="PTSerif">More Features</h2>
        <p class="m-t-md joy-sub-headline font-20">
            Made for you, your guests, and your vendors
        </p>

        <div class="row m-t">
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-website.svg');"></div>
                <h3 class="PTSerif">Wedding Websites</h3>
                <p>Create a beautiful website to share all the details with your guests.</p>
                <a id="featuresBlock2website" href="/wedding-website" onclick="return redirectWithTelemetry(this,'feature-website')">Learn More ></a>
            </div>
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-guest-list.svg');"></div>
                <h3 class="PTSerif">Guest List</h3>
                <p>Easily organize your list, track RSVPs, and communicate with guests.</p>
                <a id="featuresBlock2guestList" href="/guest-list" onclick="return redirectWithTelemetry(this,'feature-guest-list')">Learn More ></a>
            </div>
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-save-the-date.svg');"></div>
                <h3 class="PTSerif">Save The Dates</h3>
                <p>Send save the dates online and order prints with matching designs.</p>
                <a id="featuresBlock2saveTheDate" href="/save-the-date" onclick="return redirectWithTelemetry(this,'feature-save-the-date')">Learn More ></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-rsvp.svg');"></div>
                <h3 class="PTSerif">Invites + RSVP</h3>
                <p>Online wedding invitations and prints, combined with the easiest way for guests to RSVP online.</p>
                <a id="featuresBlock2invites" href="/wedding-invitations" onclick="return redirectWithTelemetry(this,'feature-invites-rsvp')">Learn More ></a>
            </div>
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-registry.svg');"></div>
                <h3 class="PTSerif">Registry</h3>
                <p>Conveniently share all your wedding registries in one place—from retail, to cash, to charities and more.</p>
                <a id="featuresBlock2registry" href="/registry" onclick="return redirectWithTelemetry(this,'feature-registry')">Learn More ></a>
            </div>
            <div class="col-xs-12 col-sm-4 m-y-md p-x-md">
                <div class="feature-icon" style="background-image: url('https://withjoy.com/assets/public/www/icon-app.svg');"></div>
                <h3 class="PTSerif">Wedding App</h3>
                <p>Collect and share photos and keep guests up to date with all your wedding details.</p>
                <a id="featuresBlock2app" href="/app" onclick="return redirectWithTelemetry(this,'feature-app')">Learn More ></a>
            </div>
        </div>
    </div>
</div>



<div class="block app-footer">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-2 text-center p-b-md">
        <!-- <img src="https://withjoy.dexecure.net/assets/img/joy-brand-circle-white.svg?opt=aggressive" /> -->
        <img src="https://withjoy.dexecure.net/assets/public/www/joy-logo-pride-2019.png?opt=aggressive" style="width: auto; height: 45px;"/>
      </div>

      <div class="col-xs-12 col-sm-2"></div>      

      <div class="col-xs-6 col-sm-2 p-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b app-footer-head font-15">Company</li>
          <li class="hidden font-14"><a href="/">About Us</a></li>
          <li><a id="footer2careeers" href="/careers" class="font-14" onclick="return redirectWithTelemetry(this,'careers')">Careers</a></li>
          <li class="hidden font-14"><a href="/">Press</a></li>
          <li class="hidden font-14"><a href="/">Brand &amp; Press</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-2 p-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b app-footer-head font-16">Product</li>
          <li><a id="footer2features" class="font-14" href="/features" onclick="return redirectWithTelemetry(this,'features')">Features</a></li>
          <li><a id="footer2designs" class="font-14" href="/designs" onclick="return redirectWithTelemetry(this,'designs')">Designs</a></li>
          <li><a id="footer2faq" class="font-14" href="/faq" onclick="return redirectWithTelemetry(this,'faq')">F.A.Q.</a></li>
          <li><a id="footer2people" class="font-14" href="/best-wedding-website" onclick="return redirectWithTelemetry(this,'people')">Couple Stories</a></li>
          <li><a id="footer2pricing" class="font-14" href="/pricing" onclick="return redirectWithTelemetry(this,'pricing')">Pricing</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li class="m-b app-footer-head font-16">Resources</li>
          <li><a id="footer2help" target="_blank" class="font-14" href="http://help.withjoy.com" onclick="return redirectWithTelemetry(this,'http://help.withjoy.com/')" >Help</a></li>
          <li><a id="footer2downloadMobile" href="/download" class="font-14" onclick="return redirectWithTelemetry(this,'download')">Get The App</a></li>
          <li><a id="footer2find" class="font-14" href="/find" onclick="return redirectWithTelemetry(this,'find')">Find a Couple</a></li>
          <li class="hidden"><a href="/">System Status</a></li>
        </ul>
      </div>
      
      <div class="col-xs-6 col-sm-2">
        <ul class="list-unstyled list-spaced">
          <li class="m-b app-footer-head font-16">Extra</li>
          <li><a id="footer2blog" class="font-14" target="_blank" href="https://withjoy.com/blog/" onclick="return redirectWithTelemetry(this,'http://blog.withjoy.com/')">The Magazine</a></li>
          <li><a id="footer2youtube" class="font-14" target="_blank" onclick="return redirectWithTelemetry(this,'youtube')" href="https://www.youtube.com/channel/UCP6FbZU0KsOSVsBbVt8Kj0Q">The TV Channel</a></li>
          <li class="hidden"><a href="/">Engineering Blog</a></li>
          <li><a id="footer2facebook" class="font-14" href="https://www.facebook.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.facebook.com/joytheapp')">Facebook<a/></li>
          <li><a id="footer2instagram" class="font-14" href="https://www.instagram.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.instagram.com/joytheapp')" >Instagram</a></li>
          <li><a id="footer2twitter" class="font-14" href="https://twitter.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://twitter.com/joytheapp')" >Twitter</a></li>
          <li style="padding-bottom: 60px;" class="font-14"><a id="footer2pinterest"  href="https://www.pinterest.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.pinterest.com/JoyTheApp')" >Pinterest</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- BOTTOM ROW OF FOOTER -->

  <div class="container-fluid">
    <hr>    
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-9 p-b-md" style="text-align: left;">
        <ul class="list-unstyled">
          <li class="inline-block font-14"><a class="app-footer-head" style="padding-right: 20px;" id="footer2eula"  href="/EULA" onclick="return redirectWithTelemetry(this,'EULA')">Terms</a></li>
          <li class="inline-block font-14"><a class="app-footer-head" style="padding-right: 20px;" id="footer2privacy" href="/privacy" onclick="return redirectWithTelemetry(this,'privacy')">Privacy</a></li>      
          <li class="inline-block font-14"><a class="app-footer-head" style="padding-right: 20px;" id="footer2updates" href="http://updates.withjoy.com" onclick="return redirectWithTelemetry(this,'updates')">Updates</a></li>
          <li class="inline-block font-14"><a class="app-footer-head" href="mailto:hello@withjoy.com">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-3 text-right">
          <div class="col-xs-2 col-xs-offset-2 col-sm-3 col-sm-offset-0 p-x-0">
              <a id="footer2facebook" target="_blank" href="https://www.facebook.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.facebook.com/joytheapp')"><img src="https://withjoy.dexecure.net/assets/img/icon-fb.svg?opt=aggressive" class="img-responsive" /><a/>
          </div>
          <div class="col-xs-2 col-sm-3 p-x-0">
              <a id="footer2twitter" target="_blank" href="https://twitter.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://twitter.com/joytheapp')" ><img src="https://withjoy.dexecure.net/assets/img/icon-twitter.svg?opt=aggressive" class="img-responsive" /></a>
          </div>
          <div class="col-xs-2 col-sm-3 p-x-0">
              <a id="footer2pinterest" target="_blank" href="https://www.pinterest.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.pinterest.com/JoyTheApp')" ><img src="https://withjoy.dexecure.net/assets/img/icon-pinterest.svg?opt=aggressive" class="img-responsive" /></a>
          </div>
          <div class="col-xs-2 col-sm-3 p-x-0">
              <a id="footer2instagram" target="_blank" href="https://www.instagram.com/joytheapp" onclick="return redirectWithTelemetry(this,'https://www.instagram.com/joytheapp')" ><img src="https://withjoy.dexecure.net/assets/img/icon-ig.svg?opt=aggressive" class="img-responsive" /></a>
          </div>
      </div>

    </div>


  </div>

</div>


<!-- Include jQuery (required) and the JS -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js"></script>
<script>
    var telemetryBag = {};
    telemetryBag.category = "marketing.guestlist";
</script>

<!-- <script src="https://withjoy.dexecure.net/joy.js?opt=aggressive"></script> -->
<script src="/joy.js?cacheBust=1560276163967"></script>

    <script src="https://withjoy.dexecure.net../guest-list/guestlist.js?opt=aggressive"></script>


<script src="https://withjoy.dexecure.net/toolkit.min.js?opt=aggressive"></script>



<script>

    // Control for features sub-menu animations

    $('#menu2features').click(function() {
        $('.subheader-container').toggle();
        const featuresMenuOpen = $( ".subheader-container" ).is( ":visible" );
        if(featuresMenuOpen) {
            $('#features-arrow').toggleClass('rotate-arrow', true);
            $('#stage').toggleClass('feature-nav-extra-margin', true);
        }
        else if(!featuresMenuOpen) {
            $('#features-arrow').toggleClass('rotate-arrow', false);
            $('#stage').toggleClass('feature-nav-extra-margin', false);
        }
    });

    $('#menu2featuresMobile').click(function() {
        $('.features-dropdown-menu').toggle();
        // $('#features-arrow').toggleClass('rotate-arrow', 'false');
    });

    // BOLD TEXT OF FEATURE NAV ITEM OF ACTIVE PAGE
    $('.subheader').find('a[href="' + location.pathname.substring(0, location.pathname.length - 1) + '"]').css( "font-weight", "bold" ); // works on localhost
    $('.subheader').find('a[href="' + location.pathname + '"]').css( "font-weight", "bold" ); // works on rehearsal / prod

    // init controller {addIndicators: true}
    var controller = new ScrollMagic.Controller();
    // NAVBAR ANIMATION build scenes

    new ScrollMagic.Scene({offset: 250})
    .on('start', function (event) {
        const scrollDirection = event.scrollDirection;
        const featureMenuOpen = $( ".subheader-container" ).is( ":visible" );
        if(scrollDirection === "FORWARD" && featureMenuOpen) {
            $('.subheader-container').toggle();
            $('#features-arrow').toggleClass('rotate-arrow', false);
        }
        else if(scrollDirection === "REVERSE" && !featureMenuOpen) {
            $('.subheader-container').toggle();
            $('#features-arrow').toggleClass('rotate-arrow', true);
            $('#stage').toggleClass('feature-nav-extra-margin', true);
        }
        else if(scrollDirection === "REVERSE" && featureMenuOpen) {
            // $('#features-arrow').toggleClass('rotate-arrow', true);
            $('#stage').toggleClass('feature-nav-extra-margin', true);
        }
    }).addTo(controller);

    new ScrollMagic.Scene({offset: 250})
    .setClassToggle(".menu2create", "show") 
    .addTo(controller);

    new ScrollMagic.Scene({offset: 250})
    .setClassToggle("#menu2findMobile", "hidden") 
    .addTo(controller);

    new ScrollMagic.Scene({offset: 250})
    .setClassToggle(".menu2createMobile", "show") 
    .addTo(controller);

    // new ScrollMagic.Scene({offset: 400})
    // .setClassToggle(".mobile-navbar-brand", "hidden") 
    // .addTo(controller);

    // new ScrollMagic.Scene({offset: 400})
    // .setClassToggle(".mobile-navbar-row", "hidden") 
    // .addTo(controller);
    
</script>
</body>
<html>