<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="checklist/checklist.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.1.0/firebase-firestore.js"></script>
    <link rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203"
        sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="content">
        <header>
            <p>Header</p>
        </header>
        <main>
            <div class="centerX">
                <div id="checklist-container">
                    <div id="checklist-header">
                        <div class="trimester-button-container">
                            <div class="trimester-button-div">
                                <button id="prePregnancy" class="trimester-button">Pre</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="firstTrimester" class="trimester-button">1st</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="secondTrimester" class="trimester-button">2nd</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="thirdTrimester" class="trimester-button">3rd</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="postPregnancy" class="trimester-button">Post</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="medicalConditions" class="trimester-button">Medical</button>
                            </div>
                        </div>
                    </div>
                    <div id="checklist">
                    </div>
                </div>
                <div id="add-task-container" style="display: none;" class="animated slideInUp">
                    <div id="add-task-top-container">
                        <div id="task-name" class="list-item-container">
                            <div class="textarea-div">
                                <textarea id="add-task-task-name" placeholder="Add task..." rows="1"></textarea>
                            </div>
                        </div>
                        <div id="description-div" class="textarea-description-div">
                            <textarea id="add-description-area"></textarea>
                        </div>
                    </div>
                    <div id="add-task-button-container">
                        <div class="cancel-button-div">
                            <button id="cancel">Cancel</button>
                        </div>
                        <div class="add-task-button-div">
                            <button id="add-task-done-btn">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script type="text/javascript" src="/checklist/checklist.js"></script>

</html>