<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="checklist/checklist.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="/__/firebase/6.1.0/firebase-auth.js"></script>
    <script src="/__/firebase/6.1.0/firebase-firestore.js"></script>
    <link rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/honeybump-49085.appspot.com/o/img%2Flogo%2Ffavicon-16x16.png?alt=media&token=d793cf87-a557-434f-a345-d5100d079203"
        sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="content">
        <header>
            <p>Header</p>
        </header>
        <main>
            <div class="centerX">
                <div id="checklist-container">
                    <div id="checklist-header">
                        <div class="trimester-button-container">
                            <div class="trimester-button-div">
                                <button id="prePregnancy" class="trimester-button">Pre</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="firstTrimester" class="trimester-button">1st</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="secondTrimester" class="trimester-button">2nd</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="thirdTrimester" class="trimester-button">3rd</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="postPregnancy" class="trimester-button">Post</button>
                            </div>
                            <div class="trimester-button-div">
                                <button id="medicalConditions" class="trimester-button">Medical</button>
                            </div>
                        </div>
                    </div>
                    <div id="checklist">
                    </div>
                </div>
                <div id="add-task-container" style="display: none;" class="animated slideInUp">
                    <div id="add-task-top-container">
                        <div id="task-name" class="list-item-container">
                            <div class="textarea-div">
                                <textarea id="add-task-task-name" placeholder="Add task..." rows="1"></textarea>
                            </div>
                        </div>
                        <div id="description-div" class="textarea-description-div">
                            <textarea id="add-description-area"></textarea>
                        </div>
                    </div>
                    <div id="add-task-button-container">
                        <div class="option-button-div">
                            <button id="cancel">Cancel</button>
                        </div>
                        <div class="option-button-div">
                            <button id="delete">
                                <svg id="deleteSVG" focusable="false" viewBox="0 -256 1792 1792">
                                    <path
                                        d="M 512,800 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 256,0 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 256,0 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z M 1152,76 v 948 H 256 V 76 Q 256,54 263,35.5 270,17 277.5,8.5 285,0 288,0 h 832 q 3,0 10.5,8.5 7.5,8.5 14.5,27 7,18.5 7,40.5 z M 480,1152 h 448 l -48,117 q -7,9 -17,11 H 546 q -10,-2 -17,-11 z m 928,-32 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 h -96 V 76 q 0,-83 -47,-143.5 -47,-60.5 -113,-60.5 H 288 q -66,0 -113,58.5 Q 128,-11 128,72 v 952 H 32 q -14,0 -23,9 -9,9 -9,23 v 64 q 0,14 9,23 9,9 23,9 h 309 l 70,167 q 15,37 54,63 39,26 79,26 h 320 q 40,0 79,-26 39,-26 54,-63 l 70,-167 h 309 q 14,0 23,-9 9,-9 9,-23 z"
                                        id="path3745" inkscape:connector-curvature="0" style="fill:currentColor"
                                        transform="matrix(1,0,0,-1,197.42373,1255.0508)">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <div class="option-button-div">
                            <button id="done">Done</button>
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script type="text/javascript" src="/checklist/checklist.js"></script>

</html>