.how-to-feature {
    position: relative;
    height: 346px;
}
.how-to-feature img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
    margin-bottom: 0 !important;
    opacity: 1;
}

.how-to-feature-card {
  background: lightblue;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.how-to-feature-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    padding: 0 0 30px 30px;
}
.how-to-feature-card-info a {
    color: #222;
    border-bottom: 1px solid #121212;
    cursor: pointer;
}

#viewAllGuestListClicker {
    color: #121212;
    border-bottom: 1px solid #121212;
    cursor: pointer;
}

#guestListFeatures {
    display: inline-block;
}

.posting-title {
    display: flex;
    min-height: 97px;
    margin-bottom: 16px;
    align-items: flex-end;
}

.posting-title > h2 {
    margin-top: 0;
}

.posting-description {
    min-height: 78px;
    margin-bottom: 24px;
}

.feature-gray-box {
    background-color: #FBFBFC; 
    border-radius: 2px;
}

/* PURPLE LINK HOVER EFFECT */

.purple-link a {
    color: #4C458A;
    text-decoration: none;
    margin: 0 2px;
    position: relative;
    border-bottom: none;
  }
  
  .purple-link a:before {
    position: absolute;
    margin: 0 auto;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #4C458A;
    /* opacity: 0.4;
    -webkit-transform: scaleX(0.9);
    transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; */
  }

  .purple-link a:hover {
    color: #817cad;
    }
  
  .purple-link a:hover:before {
      background-color: #817cad;
    /* opacity: 0.4; */
    /* -webkit-transform: scaleX(1); */
  }

@media (max-width: 600px) {
    .how-to-feature {
        height: 45vw;
    }
    .how-to-feature .how-to-feature-card-info {
        font-size: 16px;
        padding: 0 0 15px 15px;
    }
    .feature-gray-box {
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .features-block {
        padding-left: 0 !important;
        padding-right: 0 !important;    
    }
}

@media (max-width: 991px) {
    /* .box-hero {
        height: 80vw;
        text-align: center;
    } */
    /* .box-hero p {
        margin-left: 20px !important;
        margin-right: 20px !important;
    } */
    .how-to-feature-container {
        padding: 0 !important;
    }
    .logos > div {
        height: 120px;

    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .how-to-feature .how-to-feature-card-info {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    /* .how-to-feature-container {
      min-height: 475px;
    } */
    /* .how-to-feature {
        height: 292px;
    } */
    .how-to-feature .how-to-feature-card-info {
        font-size: 20px;
    }
}
